<h1>Aareon Angular Test</h1>
<form [formGroup]="simpleForm" (ngSubmit)="onSubmit(simpleForm)">
  <div class="title-field">
    <label>Title</label>
    <select formControlName="title">
      <option disabled>-- Select an option --</option>
      <option
        *ngFor="let title of titles$ | async"
        value="{{ title.name }}"
        selected="{{ title.isDefault }}"
      >
        {{ title.name }}
      </option>
    </select>
  </div>
  <div class="name-field">
    <label>First name</label>
    <input formControlName="firstName" type="text" placeholder="First name" />
  </div>
  <div class="name-field">
    <label>Last name</label>
    <input formControlName="lastName" type="text" placeholder="Last name" />
  </div>
  <!-- TODO: add error message -->
  <span></span>
  <div class="checkbox-field">
    <label>
      <input #checkbox formControlName="acceptTerms" type="checkbox" />
      I accept the terms & conditions
    </label>
  </div>
  <div class="submit-wrapper">
    <button [disabled]="!checkbox.checked">Submit</button>
  </div>
</form>
