<h1>Aareon Angular Test</h1>
<form
  [formGroup]="simpleForm"
  #ngForm="ngForm"
  (ngSubmit)="onSubmit(simpleForm)"
>
  <div class="title-field">
    <label>Title</label>
    <select formControlName="title">
      <option>-- Select an option --</option>
      <option
        *ngFor="let title of titles$ | async"
        [value]="title.name"
        [selected]="title.isDefault"
      >
        {{ title.name }}
      </option>
    </select>
  </div>
  <div class="name-field">
    <label>First name</label>
    <input formControlName="firstName" type="text" placeholder="First name" />
  </div>
  <div class="name-field">
    <label>Last name</label>
    <input
      [ngClass]="{
        'is-invalid':
          (simpleForm.controls['lastName'].touched &&
            simpleForm.controls['lastName'].pristine) ||
          (simpleForm.controls['lastName'].hasError('required') &&
            ngForm.submitted)
      }"
      formControlName="lastName"
      type="text"
      placeholder="Last name"
    />
  </div>
  <!-- TODO: add error message -->
  <span
    *ngIf="
      (simpleForm.controls['lastName'].touched &&
        simpleForm.controls['lastName'].pristine) ||
      (simpleForm.controls['lastName'].hasError('required') && ngForm.submitted)
    "
    >* Last name is mandatory</span
  >
  <div class="checkbox-field">
    <label>
      <input #checkbox formControlName="acceptTerms" type="checkbox" />
      I accept the terms & conditions
    </label>
  </div>
  <div class="submit-wrapper">
    <button [disabled]="!checkbox.checked">Submit</button>
  </div>
</form>
