form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.name-field {
  display: grid;
  grid-template-columns: 100px auto;
}

.title-field label {
  width: 100px;
  display: inline-block;
}

.checkbox-field input {
  margin-right: 10px;
}

.submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

.submit-wrapper button {
  padding: 5px 15px;
}

.is-invalid {
  border: solid 1px red;
}

span {
  color: red;
}
